header {
	background: #000;
	height: 100px;	
}

header > h1 {
	padding-top: 30px;
	color: #FFB51F;
	text-align: center;
	font-size: 5.5em;
	box-shadow: 10px 10px 10px #330000;
}

section > h1 {
	color: #0075E9;
	font-size: 1.75em;
	text-align: center;
}

h1 {
	color: #0075E9;
	font-size: 2.75em;
	text-align: center;
}

h2 {
	color: #0075E9;
	text-align: center;
}

a {
	color: #DF850E;
	text-decoration: none;
}

form {
	margin: auto;
	background-color: #EAEAEA;
	width: 300px;
	padding: 10px;
}

label {
	float: left;
	clear: left;
	display: block;
	width: 100px;
	padding-right: 5px;
	text-align: right;
}

input {
	display: block;
}

input[type="submit"] {
	margin-left: 110px;
}
